.about {
    min-height: 80vh;
    width: 70%;
    margin: auto;

    @include flex(space-between, center, row);
    .about-text {
        color: white;
    }
    p {
        font-size: 2rem;
        padding: 1.2rem;
    }
    .about-head {
        padding-bottom: 2rem;
        @include flex(space-between, center, row);
    }
    h2 {
        flex: 1 1 25rem;
        margin-right: 2rem;
    }
    /* Red border */
    hr {
        border: 2px solid white;
        flex: 1 1 50rem;
    }


    li {
        font-size: 1.5rem;
    }
}