// main-head, nav, and logo for landing page
main-head {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  
  }
  nav {
      width: 90%;
      margin: auto;
      display: flex;
      align-items: center;
      min-height: 10vh;
      padding: 2rem 0rem;
  }
  #logo {
    font-family: 'JetBrainsMono', sans-serif;
      flex: 1 1 30rem;
  }
  .nav-links {
      display: flex;
      justify-content: space-around;
      flex: 1 1 20rem;
  }
  .nav-links a{
    font-size: 1.2rem;
  }


// intro section with text and button

.intro {
    min-height: 90vh;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    @include flex(space-between, center, row);
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-family: 'JetBrainsMono', sans-serif;
        font-size: 2rem;
        // padding-top: 0.8rem;
        background: $gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        // display: inline-block;
    }
    h3 {
        font-size: 5rem;
        padding-bottom: 0.2rem;
    }
    p {
        font-size: rem;
        padding: 1rem 0rem;
        color: $gray-text;
    }
    button {
        padding: 2rem 2rem;
        margin: 1rem 0rem;
        background: #4c6e97;
        border: none;
        color: white;
        font-size: 1.8rem;
        cursor: pointer;
        transition: background 0.5s ease-in-out;
    }
    button:hover {
        background: #27394e;
      }
}

.intro-social {
    margin-top: 1.2rem;
    a {
        margin-right: 2.4rem;
    }
}
  