main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 0rem;
}

#logo {
  flex: 1 1 90rem;
  color: rgb(100, 255, 218);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
}

.nav-links a {
  font-size: 1.6rem;
  color: rgb(204, 214, 246);
}

.span {
  color: rgb(100, 255, 218);
}

.intro {
  min-height: 90vh;
  width: 70%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.intro h1 {
  color: rgb(100, 255, 218);
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
.intro h2 {
  color: rgb(204, 214, 246);
  font-size: 8rem;
}
.intro h3 {
  margin-top: 0.5rem;
  font-size: 3rem;
  padding-bottom: 0.2rem;
  color: rgb(136, 146, 176);
}
.intro p {
  margin-top: 1rem;
  font-size: 2rem;
  padding: 1rem 0rem;
  color: rgb(136, 146, 176);
}
.intro button {
  padding: 1.5rem 1.8rem;
  margin: 1rem 0rem;
  background: #e63348;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
.intro button:hover {
  background: rgba(230, 51, 72, 0.6470588235);
}

.intro-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 1.2rem;
}
.intro-social .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
}
.intro-social .contact-button {
  flex: 1 1 30rem;
  background-color: #e63348;
  padding: 1.5rem 1rem;
  text-align: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.intro-social .social-links {
  flex: 1 1 50rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

body {
  background: #252525;
}

@keyframes rotateClockwise {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateCounterClockwise {
  100% {
    transform: rotate(-360deg);
  }
}
.ring {
  position: relative;
  left: -10%;
  margin-left: -100px;
  border: 10px solid #666;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.dot {
  position: absolute;
  height: 250px;
  width: 40px;
  transform-origin: center;
  margin-left: -20px;
}
.dot:before {
  display: block;
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.dot--one {
  animation: rotateClockwise 4s linear infinite;
}
.dot--one:before {
  background: #e6a933;
}

.dot--two {
  animation: rotateCounterClockwise 2s linear infinite;
}
.dot--two:before {
  background: #e63348;
}

.dot--three {
  animation: rotateClockwise 7s linear infinite;
}
.dot--three:before {
  background: #70b942;
}

.dot--four {
  animation: rotateCounterClockwise 12s linear infinite;
}
.dot--four:before {
  background: #009ee3;
}

.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}
.projects h2 {
  margin: 5rem;
}

.travelly,
.elena {
  flex: 1 1 40rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(../fonts/JetBrainsMono-Medium.ttf);
}
@font-face {
  font-family: "FiraCode Regular";
  src: url("./fonts/FiraCode-Regular.ttf");
}
@font-face {
  font-family: "FiraCode SemiBold";
  src: url("./fonts/FiraCode-SemiBold.ttf");
}
@font-face {
  font-family: "Vibes";
  src: url("./fonts/GreatVibes-Regular.ttf");
}
html {
  font-size: 62.5%;
}

body {
  background-color: rgb(46, 46, 46);
  font-family: "JetBrains Mono", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=style.css.map */